html {
    --primary-color: #4800EA;
    --background-color: #D8D9D7;
    --text-color: #000;
    --moving-grid: url("/img/grid.webp");
}

@media (prefers-color-scheme: dark) {
    html {
        --primary-color: #7AFC1A;
        --background-color: #131313;
        --text-color: #fff;
        --moving-grid: url("/img/grid-black.webp");
    }

    .wrld img {
        filter: invert(60%) grayscale(100%) sepia(100%) hue-rotate(70deg) saturate(300%) !important;
    }
}

body {
    font-family: 'hack', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

.blue {
    background-color: #0000ff;
}

.red {
    background-color: #ff0000;
}

.green {
    background-color: #00ff00;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    padding: 1rem;
}

.grid>* {
    border: 2px solid var(--primary-color);
    padding: 1rem;
}

.g2x1 {
    grid-column: span 2;
}

.g3x1 {
    grid-column: span 3;
}

.g4x1 {
    grid-column: span 4;
}

.g1x2 {
    grid-row: span 2;
}

.g1x3 {
    grid-row: span 3;
}

.g1x4 {
    grid-row: span 4;
}

.g1x5 {
    grid-row: span 5;
}

.g2x2 {
    grid-column: span 2;
    grid-row: span 2;
}

.g3x2 {
    grid-column: span 3;
    grid-row: span 2;
}

.title {
    font-size: 8rem;
    font-weight: bold;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    text-align: center;
    white-space: nowrap;
    margin: 0;
    color: var(--primary-color);
}

strong {
    color: var(--primary-color);
}

.hole,
.wrld {
    background-color: transparent;
    border: none;
    padding: 0;
}

.hole img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: var(--primary-color);
}

.wrld img {
    animation: rotate 5s linear infinite;
    filter: invert(60%) grayscale(100%) sepia(100%) hue-rotate(200deg) saturate(300%) brightness(85%)
}

@keyframes rotate {
    0.1% {
        transform: rotate(0deg);
    }

    24.9% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(90deg);
    }

    49.9% {
        transform: rotate(90deg);
    }

    50% {
        transform: rotate(180deg);
    }

    74.9% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(270deg);
    }

    99.9% {
        transform: rotate(270deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.nb-button {
    display: inline-block;
    color: var(--primary-color);
    padding: 0 20px;
    background: var(--moving-grid);
    background-size: 200%;
    margin: 1rem;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    border: 1px solid var(--primary-color);
    background-position: var(--position);
    animation: wave infinite 6s ease-in-out;
    animation-play-state: paused;
    text-transform: lowercase;
    transition: transform 0.5s;
}

.nb-button:hover {
    animation-play-state: running;
    transform: scale(1.2);
    transition: transform 0.5s;
}

@keyframes wave {
    0% {
        background-position: var(--position);
    }

    50% {
        background-position: 100% 100%;
    }

    100% {
        background-position: var(--position);
    }
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.badge {
    background-color: var(--text-color);
    color: var(--background-color);
    padding: 0.5rem;
    margin: 0.5rem;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 15px), calc(100% - 15px) 100%, 0 100%);
}

.badge p {
    margin: 0;
}

.badge li {
    list-style-type: none;
}

.badge ul {
    padding: 0;
}

.card {
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 1rem;
    margin: 1rem 0rem;
}

.card h3 {
    color: var(--primary-color);
}

.no-border {
    border: none;
}

.text-small {
    font-size: 0.8rem;
}

.label {
    color: gainsboro;
}

.smile {
    background-color: var(--primary-color);
    border: none;
}

.smile img {
    width: 100%;
    object-fit: cover;
    position: relative;
    top: 0;
    left: 0;
}

.glitch img:first-child {
    animation: glitch 1500ms infinite;
    clip-path: polygon(0 0, 100% 0, 100% 35%, 0 35%);
    transform: translate(-0.04em, -0.03em);
    opacity: 0.75;
}

.glitch img:last-child {
    animation: glitch 1375ms infinite;
    clip-path: polygon(0 65%, 100% 65%, 100% 100%, 0 100%);
    transform: translate(0.04em, 0.03em);
    opacity: 0.75;
}

@keyframes glitch {
    0% {
        filter: drop-shadow(3px 3px 0px #00fffc) drop-shadow(-3px -3px 0px #fc00ff) drop-shadow(3px -3px 0px #fffc00);
    }

    19.9% {
        filter: drop-shadow(0px 0px 0px #00fffc);
    }

    20% {
        filter: drop-shadow(-3px 3px 0px #00fffc) drop-shadow(3px -3px 0px #fc00ff) drop-shadow(3px 3px 0px #fffc00);
    }

    39.9% {
        filter: drop-shadow(0px 0px 0px #00fffc);
    }

    40% {
        filter: drop-shadow(3px -3px 0px #00fffc) drop-shadow(-3px 3px 0px #fc00ff) drop-shadow(-3px -3px 0px #fffc00);
    }

    59.9% {
        filter: drop-shadow(0px 0px 0px #00fffc);
    }

    60% {
        filter: drop-shadow(-3px 3px 0px #00fffc) drop-shadow(3px -3px 0px #fc00ff) drop-shadow(3px 3px 0px #fffc00);
    }

    79.9% {
        filter: drop-shadow(0px 0px 0px #00fffc);
    }

    80% {
        filter: drop-shadow(3px -3px 0px #00fffc) drop-shadow(-3px 3px 0px #fc00ff) drop-shadow(-3px -3px 0px #fffc00);
    }

    99.9% {
        filter: drop-shadow(0px 0px 0px #00fffc);
    }

    100% {
        filter: drop-shadow(3px 3px 0px #00fffc) drop-shadow(-3px -3px 0px #fc00ff) drop-shadow(3px -3px 0px #fffc00);
    }
}